.formContainer {
    display: flex;
    flex-direction: column;
    width: 22.688rem;
    height: 21.938rem;
    margin-top: 2.438rem;
    margin-right: 3.625rem;
    border: 0.063rem solid #E9ECEF;
    border-radius: 0.25rem;

}

.descContainer {
    margin-top: 2.375rem;
    margin-left: 1.652rem;
    display: flex;
    flex-direction: column;

}

.descContainer > label {
    font-size: var(--font-size-5);
    font-weight: 400;

}

.descContainer > input {
    width: 19.625rem;
    height: 3.3rem;
    border: 0.125rem solid var(--color-grey-2);
    border-radius: 0.5rem;
    background-color: var(--color-grey-2);
    font-size: var(--font-siza-3);
    font-weight: 400;
    color: var(--color-grey-4);

}

.descContainer > span {
    margin-bottom: 1.106rem;
    font-size: var(--font-size-5);
    font-weight: 400;
    color: var(--color-grey-4);

}

.valueTypeContainer{
    display: flex;
}

.valueContainer {
    display: flex;
    flex-direction: column;
    margin-left: 1.588rem;

}

.valueContainer > label {
    font-size: var(--font-size-5);
    font-weight: 400;

}

.valueContainer > input {
    width: 8rem;
    height: 3rem;
    border: 0.125rem solid var(--color-grey-2);
    border-radius: 0.5rem;
    background-color: var(--color-grey-2);
    font-size: var(--font-siza-3);
    font-weight: 400;
    color: var(--color-grey-4);

}

.typeContainer {
    display: flex;
    flex-direction: column;
    margin-left: 1.588rem;
    margin-bottom: 1.188rem;

}

.typeContainer > label {
    font-size: var(--font-size-5);
    font-weight: 400;

}

.typeContainer > select {
    width: 8rem;
    height: 3rem;
    border: 0.125rem solid var(--color-grey-2);
    border-radius: 0.5rem;
    background-color: var(--color-grey-2);
    font-size: var(--font-siza-3);
    font-weight: 400;
    color: var(--color-grey-4);
    
}

.buttonSubmit {
    display: flex;
    width: 19.625rem;
    height: 3rem;
    align-items: center;
    justify-content: space-around;
    margin-left: 1.531rem;
    border: 0.125rem solid var(--color-red);
    border-radius: 0.5rem;
    background-color: var(--color-red);
    font-size: var(--font-siza-3);
    font-weight: 500;
    color: var(--color-grey-1);

}